#register {
    display: none;
}

.b-popup{
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    position: fixed;
    z-index: 1;
    top: 0px;
    display: none;
}

.b-popup .b-popup-content{
    margin: 150px 0px 0px 280px;
    width: 350px;
    height: 130px;
    padding: 10px;
    background-color: rgb(231, 242, 248);
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

#autocheckbox{
    visibility: hidden;
}

